{% extends 'web/base.html' %}
{% load happenings_templatetags %}
{% load static %}

{% block body %}
    <div class="ui container">
        <h1>
            <a href={% url 'adminpanel' %}> <i class="blue chevron circle left icon"></i></a>
            Premade short descriptions
             <a href="{% url 'add_short_description' %}">
                    <i class="ui green plus icon"></i>
                </a>
        </h1>
        <div class="ui relaxed divided list">
            {% for description in descriptions %}
                <div class="item">
                    <div class="right floated content">
                        <form method="post" action="{% url 'delete_short_description' description.pk %}">
                            {% csrf_token %}
                            <button class="ui negative button" type="submit">Delete</button>
                        </form>
                    </div>
                    <div class="content">
                        <div class="header"> {{description.description}}
                        <a href="{% url 'edit_short_description' description.pk%}">
                            <i class="ui green pencil icon"></i>
                        </a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}
