{% extends 'web/base.html' %}

{% block body %}
<div class="ui raised very padded text container segment">
  <h2>Sign Up</h2>
  <form class="ui form" method="post">{% csrf_token %}
    {% for field in form.visible_fields %}

      {# Coloring the field edges red on errors #}
      <div class="field {% if field.errors %} error {% endif %}">
        
        {{ field.label_tag }}
        {{ field }}

        {# Displaying errors #}
        {% if field.errors %} <label>{{ field.errors }}</label> {% endif %}    

      </div> 

    {% endfor %}
    <input class="ui blue button" type="submit" value="Sign Up">
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already have an Account? <a class="ml-2" href="{% url 'login'%}">Log in Now!</a>
    </small>
  </div>
</div> 
{% endblock body %}
