{% extends 'happenings/filter_base.html' %}

{% load static %}
{% load happenings_templatetags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'swiping/css/spinning_animation.css' %}"/>
    <link href="{% static 'swiping/js/spinning_animation.js' %}"/>

    <script type='text/javascript'>
        function rotate(dir) {
            const button_r = document.getElementById('right_button');
            const button_l = document.getElementById('left_button');
            const rotator = document.getElementById('spinner');
            const swipe_card = document.getElementById('swipe_card');
  
            if (dir === 'l') {
                rotator.classList.add("spinL");
                swipe_card.classList.add("fade");
            }
            else if (dir === 'r'){
                rotator.classList.add("spinR");
                swipe_card.classList.add("fade");
            }
            
            setTimeout(function removeSpin() {
                rotator.classList.remove("spinL");
                rotator.classList.remove("spinR");
                swipe_card.classList.remove("fade");
            }, 4000);
        }
    </script>
{% endblock head %}


{% block content %}

{% if is_empty %}
    <h1>No events matching the filter</h1>
{% endif %}

{% for schedule in page_obj  %}
    <div class="ui_container">
        {# Computer only #}
        <div class="spinner_mask">
            <div id="spinner" class="spinner_container">
                <img src="static/swiping/images/spinner.png" alt="Spinning wheel background image" class="spinner">
                <div class="cake_mask">
                    <div id="swipe_card" class="card_container">
                        <!-- Hold the image -->
                        <div class="card_image crop">
                            <img class="image"
                                src="
                                    {% if schedule.event.image %}
                                        {{ schedule.event.image.url }}
                                    {% else %}
                                        https://fomantic-ui.com/images/avatar2/large/matthew.png
                                    {% endif %}"
                                alt="Event image"
                            />
                        </div>
                        <!-- Hold the text, and time -->
                        <div class="card_text">
                            <span class="date" style="font-size: 1.5vh; margin-top: 0px; margin-bottom: 1vh;">From {{ schedule.start_time }} <br> To {{ schedule.end_time }}</span>
                            <h2 class="title" style="font-size: 3vh; margin-top: 0px; margin-bottom: 1vh;">{{ schedule.event.name }}</h2>
                            <p class="description" style="font-size: 1.5vh; margin-top: 0px; margin-bottom: 1vh;">{{ schedule.event.short_description }}</p>
                            <span class="location" style="font-size: 1.5vh; margin-top: 0px; margin-bottom: 1vh;">
                                Where: {{ schedule.event.location }} <br>
                                Price: {% get_pricerange schedule.event %}
                            </span>
                        </div>
                        <!-- Hold the categories -->
                        <div class="card_categories">
                            <div class="accessibility">
                                {% for category in schedule.event.accessibility_tags.all %}
                                    <div class="tag">
                                        <span data-content="{{ category.description }}" style="font-size: 1.5vh;">
                                            <i>{{ category.name }}</i>
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="category">
                                {% for category in schedule.event.event_categories.all %}
                                    <div class="tag">
                                        <span data-content="{{ category.description }}" style="font-size: 1.5vh;">
                                            <i>{{ category.name }}</i>
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg class="svg_container" width="auto" height="20vh" viewBox="0 0 330 131" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="buttons">
                <a id="left_button" href="?current={{schedule.pk}}&amp;swiped=no&amp;page={{page_obj.next_page_number}}" onclick="return rotate('l')" filter="url(#filter0_d_6:17)" style="cursor: pointer; z-index: 2;">
                    <circle id="no" cx="84" cy="65" r="39" fill="white" stroke="#A7A7A7" stroke-width="2"/>
                    <line id="no" x1="99.1838" y1="48.0711" x2="68.0711" y2="79.1838" stroke="#F56666" stroke-width="10" stroke-linecap="round"/>
                    <line id="no" x1="99.8908" y1="79.8909" x2="68.7782" y2="48.7782" stroke="#F56666" stroke-width="10" stroke-linecap="round"/>
                </a>
                <a id="right_button" href="?current={{schedule.pk}}&amp;swiped=yes&amp;page={{page_obj.next_page_number}}" onclick="return rotate('r')"  filter="url(#filter1_d_6:17)" style="cursor: pointer; z-index: 2;">
                    <circle id="yes" cx="247" cy="65" r="39" fill="white" stroke="#A7A7A7" stroke-width="2"/>
                    <path id="yes" d="M242.912 52.7736C238.921 48.9561 232.591 49.0967 228.774 53.0878C224.956 57.0788 225.097 63.4089 229.088 67.2264L242.912 52.7736ZM247.5 71L240.588 78.2264L247.5 84.8381L254.412 78.2264L247.5 71ZM265.912 67.2264C269.903 63.4089 270.044 57.0788 266.226 53.0878C262.409 49.0967 256.079 48.9561 252.088 52.7736L265.912 67.2264ZM229.088 67.2264L240.588 78.2264L254.412 63.7736L242.912 52.7736L229.088 67.2264ZM254.412 78.2264L265.912 67.2264L252.088 52.7736L240.588 63.7736L254.412 78.2264Z" fill="#1CE06B"/>
                </a>
            </g>
            <defs>
                <filter id="filter0_d_6:17" x="40" y="25" width="88" height="88" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6:17"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6:17" result="shape"/>
                </filter>
                <filter id="filter1_d_6:17" x="203" y="25" width="88" height="88" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6:17"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6:17" result="shape"/>
                </filter>
            </defs>
        </svg>

        
        <g class="star">
            <svg width="80vh" height="auto" viewBox="0 0 187 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M93.9755 3.84549L93.5 2.38197L93.0245 3.84549L71.9202 68.7979H3.62516H2.08632L3.33127 69.7024L58.5831 109.845L37.4788 174.798L37.0032 176.261L38.2482 175.357L93.5 135.214L148.752 175.357L149.997 176.261L149.521 174.798L128.417 109.845L183.669 69.7024L184.914 68.7979H183.375H115.08L93.9755 3.84549Z" fill="url(#paint0_diamond_7:18)" stroke="black"/>
                <defs>
                    <radialGradient id="paint0_diamond_7:18" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(93.5 98.5) rotate(90) scale(94.5)">
                        <stop stop-color="#FFF500"/>
                        <stop offset="1" stop-color="#DFDA54" stop-opacity="0"/>
                    </radialGradient>
                </defs>
            </svg>
        </g>
        
        {# For mobile devices only #}
    </div>
{% endfor %}

<script>
    $("span[data-content]").popup();
</script>

{% endblock content %}
