{% extends "web/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
    <link href="{% static 'swiping/css/spinning_animation.css' %}"/>
    <link href="{% static 'swiping/js/spinning_animation.js' %}"/>
{% endblock head %}

{% block body %}
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="calendar alternate outline icon"></i>
    You've swiped though all events
  </div>
  <div class="inline">

  <div class="ui large stackable buttons">
    <a class="ui primary button" href={% url 'filtered_event_list' %}>Look at upcoming events</a>
      {% if user.is_authenticated %}
          <a class="ui button" href={% url 'my_events' %}> Look through your events </a>
      {% else %}
          <a class="ui button" href={% url 'register' %}>Register to save events</a>
      {% endif %}
  </div>
  </div>
</div>
{% endblock body %}
