{% extends 'web/base.html' %}

{% block body %}

{% for schedule in page_obj  %}

    <div class="ui fluid container">
        
        {# Computer only #}
        <div class="ui middle aligned grid computer only">
            <div class="three column row">

                <div class="left floated right aligned column">
                    <a id="no" href="?current={{schedule.pk}}&amp;swiped=no&amp;page={{page_obj.next_page_number}}">
                        <i class="massive angle double left icon" id="no"></i>
                    </a>
                </div>

                <div class="center aligned column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="
                                {% if schedule.event.image %}
                                    {{ schedule.event.image.url }}
                                {% else %}
                                    https://fomantic-ui.com/images/avatar2/large/matthew.png
                                {% endif %}"
                            />
                        </div>
                        
                        <div class="content">
                            <a class="header">{{ schedule.event.name }}</a>
                        
                            <div class="meta">
                                <span class="date">{{ schedule.event.location }}</span>
                            </div>
                    
                            <div class="description">
                                {{ schedule.event.description }}
                            </div>
                        </div>

                        <div class="extra content">
                            <a><i class="user icon"></i>
                                From {{ schedule.start_time }}
                            </a>

                            <span class="right floated">
                                To {{ schedule.end_time }}
                            </span>
                        </div>
                    </div>

                </div>

                <div class="right floated left aligned column">
                    <a id="yes" href="?current={{schedule.pk}}&amp;swiped=yes&amp;page={{page_obj.next_page_number}}">
                        <i class="massive angle double right icon" id="yes"></i>
                    </a>
                </div>

            </div>

        </div>


        {# For mobile devices only #}
    </div>
    

{% endfor %}

<script>
    $("#no").transition('set looping').transition('fade left', '3500ms')
    $("#yes").transition('set looping').transition('fade right', '3500ms')

</script>

{% endblock body %}