.circle-mask {
    margin: 0px;
    clip-path: circle(120vh at 50% 124vh);
}

.spinner_mask {
    position: absolute;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.cake_mask {

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(30% 0, 70% 0, 50% 50%);
}

.spinner_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 22.6vh;
    height: calc(240vh + 2em);
    width: calc(240vh + 2em);
    border: black 1em solid;
    border-radius: 50%;

}

.spinner {
    flex: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 240vh;
    width: 240vh;
}

.card_container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: hsl(0 0% 15%);
    width: 100vw;
    height: 100vh;
    clip-path: circle(120vh at 50% 120vh);
    content: flex;
    align-items: center;
}

.center_container {
    display: flex;
    align-items: center;
}

.crop {
    display: flex;
    align-items: center;
    height: 40vh;
    width: auto;
    overflow: hidden;
}

.buttonR {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.buttonL {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
}

/* Animations */
.spinR {
    animation: spin 4s linear;
}

.spinL {
    animation: spin 4s linear reverse;
}

@keyframes spin {
    0% {
        
    }
    
    100% {
        transform: rotate(3600deg);
    }
}

.fade {
    animation: fade 5s linear forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    10% {
        opacity: 0;
    }
    
    90% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}

.star {
    animation: 1s ease-out 0s 1 spin_fade;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translate(200%);
    opacity: 0;
}

@keyframes spin_fade{
    0% {
        transform: translate(-50%);
        opacity: 1;
    }

    90% {
        transform: rotate(200deg);
        opacity: 0;
    }

    95% {
        transform: translate(-50%);
    }

    100% {
        transform: translate(200%)
    }
}