{% block head %}
{% endblock head %}

{% block body %}
    
    <script language="javascript" type="text/javascript">
        function hide_div(elemID) {
            var x = document.getElementById(elemID);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <button onclick="hide_div('myDiv')">Click Me</button>
    <div id="myDiv">This is my div</div>

    <div id="other">This is the other div</div>
    <button id="toggle">Hide other div</button>

    <script language="javascript" type="text/javascript">
        const btn = document.getElementById("toggle");
        btn.onclick = function () {
            const targetDiv = document.getElementById("other");
            if (targetDiv.style.display !== "none") {
                targetDiv.style.display = "none";
            } else {
                targetDiv.style.display = "block";
            }
        }
    </script>


{% endblock body %}