{% extends 'web/base.html' %}
{% load happenings_templatetags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
{% endblock head %}

{% block body %}
    <div class="ui container">
        <div class="ui card">
            <div class="image">
                <img src="
                {% if event.image %}
                    {{ event.image.url }}
                {% else %}
                    https://fomantic-ui.com/images/avatar2/large/matthew.png
                {% endif %}" alt="Event image"/>
            </div>
            <div class="content">
                {% if event %}
                    <div class="header">{{ event.name }}</div>
                    <div class="text">Host: {{ event.host.username }}</div>
                    <div class="meta">{{ event.location }}
                        <span class="right floated">{% get_pricerange event %}</span>
                    </div>
                    <div class="description"> {{ event.description }}</div>

                    {% block extra_event_info %}
                    {% endblock extra_event_info %}
                     <div class="ui horizontal divided  list">
                        {% for category in event.requirement_categories.all %}
                          <div class="item">
                            <div class="content">
                             <div class="header">
                                <span data-content="{{ category.description }}">
                                    <i>{{ category.name }}</i>
                                </span>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% for category in event.interest_categories.all %}
                          <div class="item">
                            <div class="content">
                             <div class="header">
                                <span data-content="{{ category.description }}">
                                    <i>{{ category.name }}</i>
                                </span>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="header">You don't have any upcoming events.</div>

                {% endif %}

            </div>
            {% block edit_buttons %}
            {% endblock edit_buttons %}
        </div>
    </div>

     <script>
        $("span[data-content]").popup();
    </script>
{% endblock body %}
