{% extends 'web/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
{% endblock head %}

{% block body %}
<div class="ui card">
{% if scheduled_event %}

<div class="header">{{ scheduled_event.event.name }}</div>
<div class="meta">{{ scheduled_event.start_time }} - {{ scheduled_event.end_time }}</div>
{% if scheduled_event.event.max_price > 0 %}
    <div class="meta"> {{scheduled_event.event.min_price}}kr - {{scheduled_event.event.max_price}}kr </div>
{% endif %}

<div class="content">{{ scheduled_event.event.description }}</div>
    {% else %}
    No more events
{% endif %}
</div>
{% endblock body %}