{% extends 'web/base.html' %}
{% load happenings_templatetags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
{% endblock head %}

{% block body %}
<div class="ui container">
    <h1>Upcoming events</h1>
        {% if scheduled_events_list %}

            <div class="ui link cards">
                {% for scheduled_event in scheduled_events_list %}
                        <a class="card" href="{% url 'events' scheduled_event.pk %}">
                            <div class="image">
                                <img src="
                                    {% if scheduled_event.event.image %}
                                        {{ scheduled_event.event.image.url }}
                                    {% else %}
                                        https://fomantic-ui.com/images/avatar2/large/matthew.png
                                    {% endif %}" alt="Event image"/>
                            </div>
                            <div class="content">
                                <div class="header"> {{ scheduled_event.event.name }}</div>
                                    <div class="meta"> {% get_event_times scheduled_event %} </div>
                                    <div class="meta">{% get_pricerange scheduled_event.event %}  </div>
                                <div class="meta">{{ scheduled_event.event.location }}</div>
                                    <div class="description"> {{ scheduled_event.event.short_description }}</div>
                            </div>
                        </a>


        {% endfor %}  </div>
        {% else %}
            No more events
        {% endif %}
</div>
{% endblock body %}
