{% extends 'web/base.html' %}
{% load happenings_templatetags %}

{% block body %}
    <div class="ui raised text container segment">
        <div class="ui accordion">
            <div class="title" style="display:inline; white-space:nowrap;">
                <i class="dropdown icon"></i>
                <h2 class="ui header" style="display:inline; white-space:nowrap;">Filter</h2>
            </div>
            <div class="content">   
                <form class="ui form" method="post">{% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %} 
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div class="two field">
                        <div class="field">
                            {{ form.from_time.label_tag }}
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                        {{ form.from_time }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            {{ form.to_time.label_tag }}
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                        {{ form.to_time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        {{ form.max_price.label_tag }}
                        {{ form.max_price }}
                    </div>
                <input class="ui primary button" name="submit" type="submit" value="Apply Filter">
                <input class="ui right floated button" name="reset" type="submit" value="Reset Filter">
                </form>
            </div>
        </div>
    </div>
    {% block content %}{% endblock content %}    

    <script>
        function formatDatetime(date){
            // Padding the date values 
            // adding a leading zero to make its size equal to 2
            // E.g. Month: 3 --> 03
            const pad = (val) => (val < 10) ? `0${val}` : val;
            if (date === null) { return; };
                const year = date.getFullYear();
            const month = pad(date.getMonth()+1);
            const day = pad(date.getDate());
            const hours = pad(date.getHours());
            const minutes = pad(date.getMinutes());
            return `${year}-${month}-${day} ${hours}:${minutes}`;
        }
    
        $('.ui.calendar').calendar(
            {
                time: 'datetime',
                ampm: false,
                firstDayOfWeek: 1,
                today: true,
                formatter: {
                    datetime: function (date, settings) {
                        return formatDatetime(date);
                    },
                }
            },
        );
    
        $(".message .close").click(function () {
            $(this)
                .closest(".message")
                .transition("fade");
        });
        
        $('.ui.accordion')
            .accordion()
        ;
    </script>
{% endblock body %}
