{% extends 'web/base.html' %}
{% load happenings_templatetags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
{% endblock head %}

{% block body %}
    <div class="ui container">
        <div class="ui card">
            <div class="image">
                <img src="{{ event.image.url }}" alt="Event image"/>
            </div>
            <div class="content">
                {% if event %}
                    <div class="header">{{ event.name }}</div>
                    <div class="meta">{{ event.location }}
                        <span class="right floated">{% get_pricerange event %}</span>
                    </div>
                    <div class="description"> {{ event.description }}</div>
                    <br>
                    <div class="meta"> Admin approved: {{ event.admin_approved }}</div>
                    {% get_schedules event as scheduled_events %}
                    <div class="ui divided relaxed list">
                    {% for scheduled_event in scheduled_events %}
                        <div class="item">
                        <a class="header" href="{% url 'my_schedule_detailed' scheduled_event.id%}">
                            <span class="date">{% get_event_times scheduled_event %}</span></a>
                        </div>
                    {% endfor %}
                    </div>
                     <div class="ui horizontal divided  list">
                        {% for category in event.requirement_categories.all %}
                          <div class="item">
                            <div class="content">
                             <div class="header">
                                <span data-content="{{ category.description }}">
                                    <i>{{ category.name }}</i>
                                </span>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% for category in event.interest_categories.all %}
                          <div class="item">
                            <div class="content">
                             <div class="header">
                                <span data-content="{{ category.description }}">
                                    <i>{{ category.name }}</i>
                                </span>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="header">You don't have any upcoming events.</div>

                {% endif %}

            </div>

            <div class="extra content">
                <div class="ui stackable buttons">
                <a class="ui black button" href={% url 'my_events' %}>Go back</a>
                <a class="ui olive button" href="{% url 'edit_event' event.pk %}">Edit event info </a>
                <a class="ui green button" href="{% url 'add_schedule' event.pk %}">Add another time</a>
                <form method="POST"  action="{% url "delete_event" event.pk  %}">
                    {% csrf_token %}<button class="ui fluid negative button" type="submit"> Delete </button>
                </form>

                </div>
            </div>
        </div>
    </div>

     <script>
        $("span[data-content]").popup();
    </script>
{% endblock body %}
