{% extends 'web/base.html' %}
{% load happenings_templatetags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
{% endblock head %}

{% block body %}
    <div class="ui container">
        <div class="ui card">
            <div class="content">
                {% if scheduled_event %}
                    <div class="header">{{ scheduled_event.event.name }}</div>
                    <div class="meta"><span class="date">{% get_event_times scheduled_event %}</span>
                        <span class="right floated">{% get_pricerange scheduled_event %}</span>
                    </div>
                    <div class="meta">{{ scheduled_event.event.location }}</div>
                    <div class="description"> {{ scheduled_event.event.description }}</div>
                    <br>
                    <div class="meta"> Admin approved: {{ scheduled_event.event.admin_approved }}</div>
                    {% else %}
                    <div class="header">You don't have any upcoming events.</div>
                {% endif %}
            </div>
        
            <div class="extra content">
                <div class="ui buttons">
                <a class="ui black button" href={% url 'my_events' %}>Go back</a>
                <a class="ui green button" href="{% url 'edit_event' scheduled_event.event.pk %}">Edit event info </a>
                <a class="ui green button" href="{% url 'edit_schedule' scheduled_event.pk %}">Edit time info</a>
                <a class="ui green button" href="{% url 'add_schedule' scheduled_event.event.pk %}">Add another time</a>
                <form method="POST"  action="{% url "cancel_schedule" scheduled_event.pk  %}">
                    {% csrf_token %}<button class="ui red button" type="submit"> Cancel </button>
                </form>
                    </div>

            </div>
        </div>
    </div>
{% endblock body %}
