{% extends 'happenings/schedule_detail_view.html' %}
{% load happenings_templatetags %}
{% load static %}


{% block extra_schedule_info %}
    <br>
    <div class="meta"> Admin approved: {{ scheduled_event.event.admin_approved }}</div>
{% endblock extra_schedule_info %}

{% block edit_buttons %}
    {% if scheduled_event.event.host == user or user.is_staff %}
        <div class="extra content">
            <div class="ui stackable buttons">
            <a class="ui black button" href={% url 'my_events_detailed' scheduled_event.event.id %}>Go back</a>
            <a class="ui olive button" href="{% url 'edit_schedule' scheduled_event.pk %}">Edit time info</a>
            <form method="POST"  action="{% url "cancel_schedule" scheduled_event.event.pk scheduled_event.pk  %}">
                {% csrf_token %}<button class="ui fluid negative button" type="submit"> Cancel </button>
            </form>
            </div>
        </div>
    {% endif %}
{% endblock edit_buttons %}
