{% extends 'web/base.html' %}
{% load happenings_templatetags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'happenings/css/event.css' %}">
{% endblock head %}

{% block body %}
    <div class="ui container">
        <div class="ui card">
            {% if scheduled_event %}
                <div class="image">
                    <img src="
                        {% if scheduled_event.event.image %}
                            {{ scheduled_event.event.image.url }}
                        {% else %}
                            https://fomantic-ui.com/images/avatar2/large/matthew.png
                        {% endif %}"
                     alt="Event image"/>
                </div>
                <div class="content">
                    <div class="header">{{ scheduled_event.event.name }}</div>
                    <div class="meta"><span class="date">{% get_event_times scheduled_event %}</span>
                        <span class="right floated">{% get_pricerange scheduled_event.event %}</span></div>
                    <div class="meta">{{ scheduled_event.event.location }}</div>
                    <div class="description"> {{ scheduled_event.event.description }}</div>
                    <div class="ui horizontal divided  list">
                        {% for category in scheduled_event.event.requirement_categories.all %}
                          <div class="item">
                            <div class="content">
                              <div class="header">
                                <span data-content="{{ category.description }}">
                                    <i>{{ category.name }}</i>
                                </span>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        {% for category in scheduled_event.event.interest_categories.all %}
                          <div class="item">
                            <div class="content">
                              <div class="header">
                                <span data-content="{{ category.description }}">
                                    <i>{{ category.name }}</i>
                                </span>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                No more events
            {% endif %}
        </div>
    </div>

     <script>
        $("span[data-content]").popup();
    </script>
{% endblock body %}
