{% extends 'web/base.html' %}

{% block body %}

    <div class="ui raised very padded text container segment">
        <h1 class="ui header">Update your event</h1>

        <form class="ui form" method="post">{% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="ui negative small message">
                            <i class="close icon"></i>
                            <b>{{ error|escape }}</b>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

        {# TODO: Better way of rendering the errors in schedule #}
            {% if schedule_form.errors %}
                {% for field in schedule_form %}
                    {% for error in field.errors %}
                        <div class="ui negative small message">
                            <i class="close icon"></i>
                            <b>{{ error|escape }}</b>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

                <div class="field">
                    {{ form.location.label_tag }}
                    {{ form.location }}
                </div>

                <div class="two field">
                    <div class="field">
                        {{ form.min_price.label_tag }}
                        {{ form.min_price }}
                    </div>
                    <div class="field">
                        {{ form.max_price.label_tag }}
                        {{ form.max_price }}
                    </div>
                </div>

                <div class="field">
                    <label>{{ form.generated_short_description.label_tag }}
                        <span data-content="Pick one of these premade descriptions to add
                            to your event if you want to!">
                        <i class="ui  question circle icon"></i>
                    </span>
                    <select name="generated_short_description" class="ui fluid clearable dropdown">
                        <option value="">Descriptions</option>
                        {% for description in form.generated_short_description %}
                            {{ description }}
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    {{ form.accessibility_tags.label_tag }}
                    <select name="accessibility_tags" multiple="" class="ui fluid dropdown">
                        <option value="">Accessibility tags</option>
                        {% for category in form.accessibility_tags %}
                            {{ category }}
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    {{ form.event_categories.label_tag }}
                    <select name="event_categories" multiple="" class="ui fluid dropdown">
                        <option value="">Event categories</option>
                        {% for category in form.event_categories %}
                            {{ category }}
                        {% endfor %}
                    </select>
                </div>


            <input class="ui blue button" type="submit" value="Save event">

        </form>
    </div>

    <script>
         $('.ui.dropdown')
            .dropdown()
        ;
         $("span[data-content]").popup();
    </script>

{% endblock body %}
