{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Cloud9{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fomantic-ui/semantic.min.css' %}"/>
    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/fomantic-ui/semantic.min.js' %}"></script>
    {% block head %}{% endblock head %}
</head>

<body>
    <div class="wrapper">
        <div class="content">
            {% include "web/header.html" %}
            
            <div class="ui hidden divider"></div>

            <main id="main">
                {% block body %}{% endblock body %}    
            </main>
        </div>
    </div>
</body>
</html>
