{% load static %}

<link rel="stylesheet" href="{% static 'web/css/header.css' %}">

<header id="header">
    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <a href="{% url 'random_event' %}" class="active item">
                Swipe!
            </a>
        {% if user.is_authenticated %}
            <a href="{% url 'my_events' %}" class="item">
                My profile
            </a>
        {% endif %}
            <a href="{% url 'events' %}" class="item">
                Events
            </a>

                {% if user.is_authenticated %}
                    <div id="nav-user-dropdown" class="ui dropdown right item">
                        <div class="text"> {{ user.username }} </div>
                            <i class="dropdown icon text"></i>
                            <nav class="menu transition" >
                                 {% if user.is_staff %}
                                     <div class="item">Admin page
                                    </div>
                                 {% endif %}
                                <div class="item">
                                    <a href="{% url 'logout' %}" class="item"> Sign out
                                    </a>
                                </div>
                            </nav>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="right item">
                    Sign in
                    </a>
                {% endif %}
            </div>
    </div>

</header>


<script>
    $('.ui.dropdown, #nav-user-dropdown').dropdown({action: 'hide'});
</script>