{% load static %}

<link rel="stylesheet" href="{% static 'web/css/header.css' %}">

<header id="header">
    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <a href="{% url 'random_event' %}" class="active item">
                Swipe!
            </a>
            <a href="{% url 'my_events' %}" class="item">
                My profile
            </a>
            <a href="{% url 'events' %}" class="item">
                Events
            </a>
            <a href="{% url 'login' %}" class="right item">
                Sign in
            </a>
        </div>
    </div>

</header>
